* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgprimary: #fff;
    --secondaryColor: #000;
}

body {
    background-color: var(--bgprimary);
    color: var(--secondaryColor);
}

.dark {
    --bgprimary: #000;
    --secondaryColor: #fff;
}

.mode {
    all: unset;
    width: 30px;
    cursor: pointer;
}

.mode img {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgprimary);
    padding: 10px 40px;
    flex-wrap: wrap;
}

.w {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
}
.menuContainer{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;

}

.menuicon {
    width: 50px;
    display: none;
}

.menuicon img {
    width: 100%;
}

.menu a {
    color: var(--secondaryColor);
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: red;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.next {
    width: 60%;
}

.next img {
    width: 100%;
    height: 320px;
}

.box {
    padding: 15px;
    display: flex;
    align-items: flex-start;
    height: 500px;
    width: 30%;
    background-color: var(--secondaryColor);
    flex-direction: column;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}
.box div{
    border-bottom: 1px solid var(--bgprimary);
}
.box div:nth-child(4){
    border-bottom: none;

}
.box h1 {
    color: rgb(237, 188, 42);
    width: 100%;
}

.box h4 {
    color: var(--bgprimary);
    width: 100%;
}

.box p {
    color: var(--bgprimary);
    padding-bottom: 20px;
    gap: 20px;
}

.box span {
    color: rgb(237, 188, 42);
}

.people {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.webp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.webp h1 {
    width: 40%;
    font-size: 40px;
}

main button {
    background-color: #f70a0a;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

main button:hover {
    background-color: var(--secondaryColor);
    color: var(--bgprimary);
}

#media {
    background-color: var(--bgprimary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.retro {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.pic {
    width: 28%;
    height: 200px;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

.pic img {
    width: 30%;
    justify-content: center;
    height: 120px;

}

.pic h1 {
    color: rgb(199, 208, 217);
}

.pic h3:hover {
    color: red;
}

.old {
    width: 40%;
}

@media only screen and (max-width:1000px) {
    .menuicon {
        display: inline;
    }
    .menuContainer{
        flex-direction: row-reverse;
    }
    .menu {
        width: 30%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--bgprimary);
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: none;
        font-family: 'DM Serif Display', serif;

    }

    .close {
        width: 30px;
        margin-left: 80px;
    }
    .dark_toggle{
        filter: invert();
    }

    .show {
        display: flex;
        animation-name: show;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        transform-origin: right;
    }

    @keyframes show {
        from {
            transform: scaleX(0);
        }

        to {
            transform: scaleX(1);
        }
    }

    main {
        flex-direction: column;
        gap: 30px;
    }

    .next img {
        width: 100%;
    }

    .next {
        width: 80%;
    }

    .box {
        width: 80%;
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
    }

    .retro {
        width: 80%;
        flex-direction: column;

        justify-content: flex-start;
        gap: none;
        padding: 20px;
    }

    .pic {
        width: 100%;
        justify-content: flex-start;
    }

    .webp {
        width: 80%;
    }

    .webp h1 {
        width: 80%;
    }

    .webp button {
        background-color: red;
        color: #fff;
        border: none;
        width: 50%;
    }
}
@media only screen and (max-width:500px) {
.next{
    width: 98%;

}
.retro{
  width: 98%;
}
.box{
    width: 98%;
}
.webp{
    width: 100%;
}
.webp h1 {
    width: 100%;
}
}