*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    background-color:white;
    color:black;
    font-size: 20px;
    padding: 10px;
    
}.menu{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu a{
color: #000000;
text-decoration: none;
}
.menu a:hover{
color: darkcyan;
text-decoration: underline;
}
.para{
    color: #fff;
    /* background-color: #23f45f; */
    background: linear-gradient(to right,#780206,#061161);
    background-image:image-se
    color:#fff;
    height: 700px;
    background-position: center;
    background-size: cover;
}
#cs{
    text-align: center;
    /*overline,linethrough color style:dotted,dashed,double,wavy*/
    text-transform: uppercase;/*uppercase,lowercase,capitalize*/
}
